<div>
    <h2>Liste des conférences</h2>

    <div class="toolbar">
        <button class="btn btn-success" ng-click="refreshConferences()">
            <i class="fa fa-refresh"></i>
        </button>
        <button class="btn btn-success" ng-click="openModalConferenceDetail()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div ng-repeat="conference in conferences">
        <div class="conference">
            <span class="title" ng-click="openModalConferenceDetail(conference._id)">{{conference.title}}</span>
            <div class="date">{{conference.dateStart | date: 'dd/MM/yyyy HH:mm'}}</div>
            <div class="content">{{conference.description}}</div>
        </div>
    </div>

</div>