<div class="modal-header">
    <div ng-show="mode == 'CREATION'">Création d'une conférence</div>
    <div ng-show="mode == 'MODIFICATION'">Détail de la conférence</div>
</div>

<div class="modal-body">
    <div class="input-group" ng-show="mode == 'MODIFICATION'">
        <span>Date de Création</span>
        <input type="date" class="form-control" ng-model="conference.dateCreation" disabled/>
    </div>
    <div class="input-group" ng-show="mode == 'MODIFICATION'">
        <span>Date de dernière modification</span>
        <input type="date" class="form-control" ng-model="conference.dateLastModification" disabled/>
    </div>
    <div class="input-group">
        <img src="styles/images/{{conference.logo}}" alt="LOGO">
        <button class="btn btn-success" ngf-select ngf-change="uploadLogo($file)" ngf-multiple="false">
            <i class="fa fa-upload"></i>
        </button>
    </div>
    <div class="input-group">
        <span>Date de début</span>
        <input type="date" class="form-control" ng-model="conference.dateStart"/>
    </div>
    <div class="input-group">
        <span>Titre</span>
        <input type="text" class="form-control" ng-model="conference.title"/>
    </div>
    <div class="input-group">
        <span>Description</span>
        <textarea cols="30" rows="10" class="form-control" ng-model="conference.description"></textarea>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="!conference.dateStart || !conference.title || !conference.description"
            ng-click="sendData()">
        <i class="fa fa-check"></i>
    </button>
    <button ng-show="mode == 'MODIFICATION'" class="btn btn-danger" ng-click="delete()">
        <i class="fa fa-trash"></i>
    </button>
    <button class="btn btn-danger" ng-click="close()">
        <i class="fa fa-close"></i>
    </button>
</div>