// BODY
@body_background: #EEE;
@body_color: #333;
@body_margin: 2% 4%;

// TOOLBAR
@toolbar_background: #333;
@toolbar_color: #AAA;
@toolbar_padding: 5px;
@toolbar-btn_border-radius: 0;

// CONFERENCE
@conference_background: white;
@conference_margin: 5px 0;
@conference_padding: 10px;
@conference_border: 1px solid #DDD;
@conference_border-radius: 5px;
@conference_position: relative;
@conference-title_font-size: 20px;
@conference-title_cursor: pointer;
@conference-title-HOVER_text-decoration: underline;
@conference-date_font-size: 10px;

// MODAL-DIALOG
@modal-dialog_border-radius: 0;
@modal-dialog-modal-content_box-shadow: none;
@modal-dialog-modal-content_border-radius: 0;
@modal-dialog-modal-content-modal-header_background: #333;
@modal-dialog-modal-content-modal-header_color: #AAA;
@modal-dialog-modal-content-modal-header_font-size: 20px;
@modal-dialog-modal-content-modal-header_border-radius: 0;
@modal-dialog-modal-content-modal-header_border: none;
@modal-dialog-modal-content-modal-footer_background: #EEE;
@modal-dialog-modal-content-modal-footer_border-radius: 0;
@modal-dialog-modal-content-modal-footer-btn_border-radius: 0;

// FORM-CONTROL
@form-control_border:1px solid #DDD;
@form-control_border-radius:0;
@form-control_box-shadow:none;
@form-control-FOCUS_border:1px solid #AAA;
@form-control-FOCUS_box-shadow:none;