@body-background: #EEE;
@body-color: #333;
@body-margin: 2% 4%;

@toolbar-background: #333;
@toolbar-color: #AAA;
@toolbar-padding: 5px;
@toolbar-btn-border-radius: 0;

@conference-background: #ffc7bb;
@conference-margin:5px 0;