@import "config";

// BODY
body {
  background: @body_background;
  color: @body_color;
  margin: @body_margin;
}

// TOOLBAR
.toolbar {
  background: @toolbar_background;
  color: @toolbar_color;
  padding: @toolbar_padding;
  .btn {
    border-radius: @toolbar-btn_border-radius;
  }
}

// CONFERENCE
.conference {
  background: @conference_background;
  margin: @conference_margin;
  padding: @conference_padding;
  border: @conference_border;
  border-radius: @conference_border-radius;
  position: @conference_position;
  .logo {
    img {
      max-height: @conference-logo-img_max-height;
    }
  }
  .title {
    font-size: @conference-title_font-size;
    cursor: @conference-title_cursor;
    &:hover {
      text-decoration: @conference-title-HOVER_text-decoration;
    }
  }
  .content {
    pre {
      border: @conference-content-pre_border;
      border-radius: @conference-content-pre_border-radius;
      padding: @conference-content-pre_padding;
      white-space: @conference-content-pre_white-space;
    }
  }
  .date {
    font-size: @conference-date_font-size;
  }
}

// MODAL-DIALOG
.modal-dialog {
  border-radius: @modal-dialog_border-radius;
  .modal-content {
    box-shadow: @modal-dialog-modal-content_box-shadow;
    border-radius: @modal-dialog-modal-content_border-radius;
    .modal-header {
      background: @modal-dialog-modal-content-modal-header_background;
      color: @modal-dialog-modal-content-modal-header_color;
      font-size: @modal-dialog-modal-content-modal-header_font-size;
      border-radius: @modal-dialog-modal-content-modal-header_border-radius;
      border: @modal-dialog-modal-content-modal-header_border;
    }
    .modal-body {
    }
    .modal-footer {
      background: @modal-dialog-modal-content-modal-footer_background;
      border-radius: @modal-dialog-modal-content-modal-footer_border-radius;
      .btn {
        border-radius: @modal-dialog-modal-content-modal-footer-btn_border-radius;
      }
    }
  }
}

// FORM-CONTROL
.input-group {
  width: @input-group_width;
  margin: @input-group_margin;
  img {
    max-height: @input-group-img_max-height;
  }
  .form-control {
    border: @input-group-form-control_border;
    border-radius: @input-group-form-control_border-radius;
    box-shadow: @input-group-form-control_box-shadow;
    &:focus {
      border: @input-group-form-control-FOCUS_border;
      box-shadow: @input-group-form-control-FOCUS_box-shadow;
    }
  }
}